.category {
    padding: 0 20px;
    margin-right: 20px;
    border-radius: 4px;
    background-color: #636363;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-container {
    display: flex;
}

#product-details{
    padding: 20px 0;    
}

.product-details-top{
    padding: 10px;
    display: flex;
    justify-content: center;     
}

.product-details-top img{
    width: 220px;
}

.product-details-bottom {
    padding: 10px 20px 20px 20px;
}

.product-details-bottom h3 {
    color: #0CAF1D;
    font-size: 20px;    
}

.product-details-bottom h4 {
    font-size: 12px;
    color: #636363;
}

.product-details-bottom p {
    margin: 10px 0;
    font-size: 12px;    
    color: #636363;    
}